*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: crimson;
    /* background-image: url("M.jpg"); */
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size:cover ;
}
.block{
    display: block;
    height: 150px;
    width: 700px;
    border:none;
    margin: 200px 500px 0 350px;
}
h1{
    text-align: center;
    font-weight: bolder;
    color:greenyellow;
    padding-top: 40px;
    font-size: 50px;
    text-transform: capitalize;
    text-shadow: 2px 2px 0 10px white;
}